body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);

  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flexbox;
}

article {
  padding: 30px;
}

h1 {
  text-align: center;
  color: #000000; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 56pt; 
  font-weight: bold;
}

h2 {
  text-align: left;
  padding-left: 10%;
  color: #00CCA7; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 16pt; 
  font-weight: bold;
}

/* Allgemeine Formatierung der Tabelle */
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

thead th,
tbody td {
  border-right: 2px solid #000000;
  padding: 8px;
}

thead th:last-child,
tbody td:last-child {
  border-right: none;
}

th {
  font-weight: bold;
  font-size: 16pt;
  padding: 8px;
  border-bottom: 2px solid #000000;
}

td {
  font-size: 12pt;
  padding: 8px;
  border-bottom: 1px solid #b8b8b8;
}

.selected {
  background-color: #DAFEF7;
}

#groupForm, #memberForm, #timeForm {
  color: #000000; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 16pt; 
  font-weight: bold;
}

#inputForms {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.form-group, .form-readonly {
  flex: 1 1 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 16%;
}

.form-group input, .time-input-container input {
  height: 28px;
  font-size: 13pt;
  background-color: #878787;
  border: none;
}

.form-readonly input {
  height: 28px;
  font-size: 13pt;
  background-color: #F4F4F4;
  border: none;
  cursor: default;
}

.form-group select {
  height: 30px;
  font-size: 13pt;
  background-color: #878787;
  border: none;
}

.form-group label, .form-readonly label {
  order: -1; /* Stellt sicher, dass das Label über dem Input steht */
  text-align: center;
  margin-bottom: 20px;
}

.form-readonly input[readonly]:focus {
  outline: none;
}

#bodinger {
  height: 30px; /* Feste Höhe */
}

.buttonAdd, .buttonDelete {
  padding-left: 10%;
  padding-right: 10%;
  text-align: right;
  margin-top: 10px;
}

button {
  padding: 10px;
  background-color: #00CCA7;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif; 
  font-size: 16pt; 
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #00cca777;
}

button:active {
  background-color: #00cca754;
}

.time-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13pt;
}

.time-inputs input {
  width: 33%;
  text-align: center;
}

.time-inputs span {
  margin: 0 5px;
}