body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);

  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flexbox;
}

article {
  padding: 30px;
}

h1 {
  text-align: center;
  color: #000000; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 56pt; 
  font-weight: bold;
}

h2 {
  text-align: left;
  padding-left: 10%;
  color: #007BFF; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 16pt; 
  font-weight: bold;
}

.startImg {
  position: relative;
  width: 100%;
  height: 100vh; /* Vollbild-Höhe, du kannst dies anpassen */
  background: url('../img/rodelrennen_neu.jpeg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Setze das Bild auf volle Breite */
.startImg img {
  width: 100%;
  height: auto; /* Behält das Seitenverhältnis bei */
  display: block; /* Entfernt die kleinen Lücken unter Bildern */
}

.startImg h1 {
  position: relative;
  text-align: center;
  height: 80%;
  color: #000000; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 56pt; 
  font-weight: bold;
}

/* .startImg h3 {
  position: relative;
  text-align: center;
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
} */

.blue-text {
  color: #007BFF; 
}

/* Allgemeine Formatierung der Tabelle */
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

thead th,
tbody td {
  border-right: 2px solid #000000;
  padding: 8px;
}

thead th:last-child,
tbody td:last-child {
  border-right: none;
}

th {
  font-weight: bold;
  font-size: 16pt;
  padding: 8px;
  border-bottom: 2px solid #000000;
}

td {
  font-size: 12pt;
  padding: 8px;
  border-bottom: 1px solid #bbbbbb;
}

.selected {
  background-color: #007bff3d;
}

#groupForm, #memberForm, #timeForm, #resultForm {
  color: #000000; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 16pt; 
  font-weight: bold;
}

#inputForms {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.form-group, .form-readonly {
  flex: 1 1 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 16%;
}

.form-group-pp {
  flex: 1 1 calc(25% - 20px);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group input, .form-group-pp input, .time-input-container input {
  height: 32px;
  font-size: 13pt;
  background-color: #bbbbbb;
  border: none;
}

.form-readonly input {
  height: 32px;
  font-size: 13pt;
  background-color: #F4F4F4;
  border: none;
  cursor: default;
}

.form-group select, .form-group-pp select {
  height: 34px;
  font-size: 13pt;
  background-color: #bbbbbb;
  border: none;
}

.form-group label, .form-group-pp label, .form-readonly label {
  order: -1; /* Stellt sicher, dass das Label über dem Input steht */
  text-align: center;
  margin-bottom: 20px;
}

.form-readonly input[readonly]:focus {
  outline: none;
}

.buttonAdd, .buttonDelete, .buttonPrint {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin-top: 10px;
}

#buttonAddGroup, #buttonDeleteGroup {
  width: 19%;
}

#buttonAddMember, #buttonDeleteMember {
  width: 24%;
}

#buttonAddTime {
  margin-top: 28px;
}

button {
  padding: 10px;
  background-color: #007BFF;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif; 
  font-size: 16pt; 
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3462cf;
}

button:active {
  background-color: #007bffc0;
}

.time-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13pt;
}

.time-inputs input {
  width: 33%;
  text-align: center;
}

.time-inputs span {
  margin: 0 5px;
}

@media print {
  /* Blendet alle Elemente außer dem <article> aus */
  body * {
      visibility: hidden;
  }
  article, article * {
      visibility: visible;
  }

  /* Verhindert das Drucken von divs mit der Klasse buttonPrint */
  .buttonPrint {
    display: none;
  }

  /* Stellt sicher, dass nur der <article> angezeigt wird */
  @page {
      margin: 0;
  }
  article {
    display: block;
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%; /* Verkleinert die Breite des Druckbereichs */
    height: auto;
    margin: auto; /* Zentriert das Artikel */
    padding: 1cm; /* Optional: Innenabstände für besseren Druck */
    box-sizing: border-box;
    transform: scale(0.6); /* Skalierung für kleinere Darstellung */
    transform-origin: top left;
  }
  
  h1 {
    position: absolute;
    left: 56%;
    bottom: 90%;
  }
}