body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);

  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  background-color: #125dde;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

main {
  display: flexbox;
}

article {
  background-color: #7b9ddd;
  padding: 30px;
}

h1 {
  text-align: center;
}

/* Allgemeine Formatierung der Tabelle */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd; /* Rand um die gesamte Tabelle */
}

/* Header-Zellen */
th {
  background-color: #f2f2f2; /* Hintergrundfarbe des Kopfbereichs */
  color: #333; /* Textfarbe des Kopfbereichs */
  font-weight: bold; /* Fettschrift für Überschriften */
  padding: 8px; /* Innenabstand */
  border: 1px solid #ddd; /* Rand um jede Zelle */
}

/* Datenzellen */
td {
  padding: 8px; /* Innenabstand */
  border: 1px solid #ddd; /* Rand um jede Zelle */
}


.selected {
  background-color: #58a1f5; /* Hintergrundfarbe für ausgewählte Zeile */
}

#groupForm {
  background-color: #7b9ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"],
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.checkbox-group {
  display: flex;
  align-items: left;
  justify-content: left;
}

input[type="checkbox"] {
  position: relative;
  width: 24px;
  height: 24px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

button {
  padding: 10px;
  background-color: #307fd4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #003f7f;
}
